{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Property Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{% url 'home' username=username %}" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="logo-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <span>HomeHunterrrr</span>
            </a>
            <div class="nav-links">
                <a href="{% url 'listings' listing_type='sell' username=username %}" class="nav-link">Buy</a>
                <a href="{% url 'listings' listing_type='rent' username=username %}" class="nav-link">Rent</a>
                <a href="{% url 'place_ad' username=username %}" class="nav-link">Place Ad</a>
                <a href="{% url 'listings' listing_type='mylistings' username=username %}" class="nav-link">My Listings</a>
                <a href="{% url 'listings' listing_type='mybookings' username=username %}" class="nav-link">My Bookings</a>
            </div>
        </div>
        <div class="profile-section">
            <span class="username">Logout</span></a>
            <a href="{% url 'logout' username=username %}" class="profile-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="logout-icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9l3 3m0 0l-3 3m3-3H9m3 9h-6a1.5 1.5 0 01-1.5-1.5v-15A1.5 1.5 0 016 3h6"/>
                </svg>
            </a>
        </div>
    </nav>

    <div class="filters">
        <input type="text" id="address-filter" placeholder="Search by address">
        <select id="price-filter">
            <option value="">All Prices</option>
            <option value="1000">Under €1k</option>
            <option value="2000">Under €2k</option>
            <option value="5000">Under €5k</option>
        </select>
        <select id="bedrooms-filter">
            <option value="">All Bedrooms</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
        </select>
    </div>
        {% if error %}
            <div class="error-message" id="temp-error-message">
                {{ error }}
            </div>
        {% endif %}
    <div class="property-container">
        <div class="listings-container">
            <div class="property-grid">
                {% for property in properties %}
                    <div class="property-item">
                        <div class="image-carousel">
                            {% for image_url in property.images|slice:":5" %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image_url }}" alt="Property image">
                            </div>
                            {% endfor %}
                            <button class="carousel-prev">&lt;</button>
                            <button class="carousel-next">&gt;</button>
                        </div>
                        <a href="{% url 'property-details' action_type='view' username=username property_id=property.id %}" class="property-card">
                            <div class="property-info">
                                <h3>{{ property.address|title }}</h3>
                                <h4>{{ property.county|title }}</h4>
                                <h5 hidden>{{ property.address }} {{ property.county }} {{ property.postal_code }}</h5>
                                {% if property.listing_type == 'rent' %}
                                    <span class="price">€{{ property.price|floatformat:2 }}</span><span> per month</span>
                                {% else %}
                                    <span class="price">€{{ property.price|floatformat:2 }}</span>
                                {% endif %}
                                <div class="details">
                                    <span>{{ property.bedrooms }} Beds</span>
                                    <span>{{ property.bathrooms }} Baths</span>
                                    <span>{{ property.property_type|title }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                <div class="no-results">No properties available at the moment.</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>